python==3.11.0
jupyter
numpy
scikit-learn
scipy
pandas
matplotlib
seaborn
black
torch
torchvision
datasets
tokenizers
torchmetrics==1.0.3
tensorboard==2.13.0
altair
pyyaml
python-box
python-dotenv
langchain
docarray
tiktoken
chromadb
transformers
sacrebleu
rouge_score
py7zr
nltk
tqdm
ensure
-e .
