python
jupyter
numpy
scikit-learn
scipy
pandas
matplotlib
seaborn
black
torch
torchvision
datasets
tokenizers
torchmetrics
tensorboard
altair
pyyaml
python-box
python-dotenv
langchain
docarray
tiktoken
chromadb
transformers
sacrebleu
rouge_score
py7zr
nltk
tqdm
ensure
-e .
